*{
    padding: 0;
    margin: 0;
}

/*
    Dashboard CSS 
*/
.dashboard{

    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}


.dashboard-left
{

    display: flex;
    margin-top: 20px;
    margin-right: 50%;
}

.dashboard-right{

   margin-top: 20px;
}

.dot{
    height: 30px;
    width: 30px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: 50px;
}

.horizontal-line{
    
    background-color: #000000;
    color: #000000;
    height: 2px;

}

/*
    Edit Profile CSS
*/

.profile-text{

    width: 10%;
    margin-left: 22em;

}

.card{

    margin-left: 22em;
    margin-top: 5em;
}

.card-body{
    background-color: #EFEFEF;
    font-size: 1.2em;
}

.title-card{
    
    margin: 2em;
    
}

.form-profile{

    margin-left: 2em;
    font-weight: bold;
    margin-top: 0.5em;
}   

#form-profile{

    border-radius: 6px;
    width: 25em;
}

.button-submit{

    border-radius: 10px;
    padding: 10px 2em;
    margin-left: 2em;
    margin-top: 2em;
    background-color: #B0C8D7;
    color: white;
    display: flex;
    justify-content: center;
}

.button-icon{
    margin-top: 3px;
    margin-right: 5px;
}



